<div class="wrapper" *ngFor="let server of servers">
	<div class="row">
		<div class="col-sm-4">
			<input 
				type="text" 
				name="name" 
				class="form-control"
				[(ngModel)]="server.name">
		</div>
		<div class="col-sm-4">
			<input 
				type="text" 
				name="ip" 
				class="form-control"
				[(ngModel)]="server.ip">
		</div>
		<div class="col-sm-3">
			<button class="btn btn-danger" (click)="remove(server)">Remove</button>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-1">
			<span *ngIf="server.connected; else notConnected" class="glyphicon glyphicon-ok-sign text-success"></span>
			<ng-template #notConnected>
				<span class="glyphicon glyphicon-remove-sign text-danger"></span>
			</ng-template>
		</div>
		<div class="col-sm-11">
			<i>Last response: </i><span>{{ server.lastResponse | date:'short'}}</span>
			<br>
			<i>Latency: </i><span>{{ server.latency }} ms</span>
		</div>
	</div>
</div>