<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li>
          <a>Server alive status</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <h4>Welcome to Servers Alive Status 1.0</h4>
      <p>Enables you to simply see server up/down status.</p>
      <br/>
      <app-server-add></app-server-add>
      <app-server-list></app-server-list>
    </div>
  </div>
</div>
